.customContainer {
  border-radius: 10px;
  box-shadow: 0px 0px 5px #2d3e50;
}

.formContainer {
  padding: 10px;
  border: none;
  border-radius: 2px;
}

.head {
  border-bottom: 2px solid rgba(128, 128, 128, 0.404);
  margin-bottom: 30px;
}

.userInput {
  border: none;
  border-bottom: 1px solid black;
  color: purple;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.75rem;
  margin: 0.625rem 0;
  transition: all 0.3s ease-in-out;
}

.userEmail {
  margin-bottom: 40px;
}

.emailLabel {
  padding-top: 10px;
  left: 30px;
  top: 100px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.userEmail:focus {
  outline: none;
  border: solid #2d3e50;
  border-radius: 10px;
}

.userEmail:focus + label {
  top: 60px;
  font-size: 1rem;
}

.passwordLabel {
  padding-top: 10px;
  left: 30px;
  top: 198px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.userPassword:focus {
  outline: none;
  border: solid #2d3e50;
  border-radius: 10px;
}

.userPassword:focus + label {
  top: 158px;
  font-size: 1rem;
}
