$react-rater-link: rgb(3, 0, 0) !default; // color of star not rated

$react-rater-hover: rgb(243, 221, 221) !default; // color of star on hover
$react-rater-active: rgb(224, 240, 6) !default; // color of star rated

.react-rater {
  display: inline-block;
  line-height: normal;
  > * {
    display: inline-block;
  }
}
.react-rater-star {
  cursor: pointer;
  color: $react-rater-link;
  position: relative;
  &.will-be-active {
    color: $react-rater-hover;
  }
  &.is-active {
    color: $react-rater-active;
  }
  &.is-active-half:before {
    color: $react-rater-active;
    content: "\2605";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
  }
  &.is-disabled {
    cursor: default;
  }
}
