.darkBg {
  background-color: #116466;
  color: #d1e8e2;
  padding: 0.375rem;
}

.lightBg {
  background-color: #116466;
  color: #d1e8e2;
  padding: 0.375re;
}

.ratingStarColor {
  color: #ffcb9a;
}

.selectedTable {
  font-size: 1.5em;
}

th {
  padding-top: 5px;
  padding-right: 15px;
  border-right: solid #ffcb9a;
  border-bottom: solid #ffcb9a;
}

td {
  padding: 0px 10px;
}

tr:nth-child(even) td {
  background-color: #116466;
}

.noReviews {
  font-size: large;
}

.individualReview {
  border-radius: 10px;
  margin-bottom: 5px;
}

.reviewHeader {
  padding-left: 10px;
  border-left: solid #116466;
  border-top: solid #116466;
  border-right: solid #116466;
  border-radius: 10px 10px 0px 0px;
  background: #116466;
}

.reviewText {
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: solid #ffcb9a;
  border-bottom: solid #ffcb9a;
  border-right: solid #ffcb9a;
  border-radius: 0px 0px 10px 10px;
}

.ratingNumber {
  color: #ffcb9a;
}

.smallDate {
  font-size: large;
}
