.darkBg {
  background-color: #116466;
  color: #d1e8e2;
  padding: 0.375rem;
}

.selectedTable {
  font-size: 1.5em;
}

th {
  padding-top: 5px;
  padding-right: 15px;
  border-right: solid #ffcb9a;
  border-bottom: solid #ffcb9a;
}

td {
  padding-left: 10px;
}

tr:nth-child(odd) td {
  background-color: #116466;
}
