.category {
  width: 90%;
  background-color: #116466;
  padding: 5px 0px 5px 10px;
  margin: 5px;
  color: #ffcb9a;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.category:hover {
  box-shadow: 0px 0px 5px #d1e8e2;
  background-color: #d1e8e2;
  padding: 10px 0px 10px 15px;
  color: #116466;
}

@media screen and (min-width: 576px) {
  .catContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .category {
    flex: 1 0 45%;
  }
}

@media screen and (min-width: 768px) {
  .category {
    flex: 1 0 30%;
  }
}
